.container {
  height: 400px;
  background-color: #eee;
}

.honey_pc {
  display: block;
  text-align: center;
  font-size: 36px;
  margin-left: 120px;
}
.honey_mobile {
  margin-top: 40px;
  display: none;
  text-align: center;
  font-size: 5vw;
}

@media screen and (max-width: 560px) {
  .honey_pc {
    display: none;
  }
  .honey_mobile {
    display: block;
  }
}
